.progressBarWrapper {
    width: 100%;
    height: 48px;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
}

.bar {
    height: 8px;
    width: 100%;
    background-color: #ebebeb;
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;

    .progress {
        position: absolute;
        left: 0;
        height: 100%;
        background-color: #5558fa;
    }

    .point {
        position: absolute;

        width: 16px;
        height: 16px;
        background-color: #a6a6a6;
        border-radius: 50%;
    }

    .activePoint {
        background-color: #5558fa;
        display: flex;
        align-items: center;
        justify-content: center;

        .activePointDot {
            width: 3.2px;
            height: 3.2px;
            background: white;
            border-radius: 50%;
        }
    }

    .completedPoint {
        background-color: #5558fa;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.numbers {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    color: #666666;
    position: relative;

    font-size: 14px;
    line-height: 20px;

    .item {
        position: absolute;
    }

    .heightlightedItem {
        font-weight: 700;
        color: #5558fa;
    }
}
