.infoPage {
    width: 900px;
    height: 704px;
    background: white;

    display: flex;
    justify-content: center;
    margin-top: 24px;
    border-radius: 15px;
}

.wrapper {
    width: 852px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.headerWrapper {
    height: 128px;
    width: 100%;
}
