.formPage {
    background: white;
    width: 900px;

    display: flex;
    justify-content: center;
    margin-top: 24px;
    border-radius: 15px;

    .wrapper {
        width: 680px;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
}

.highPage {
    height: 821px;
}

.shortPage {
    height: 500px;
}
