@import-normalize;

@font-face {
    font-family: "TTTravels";
    src: url("./TTTravels-Regular.ttf");
}

input {
    font-family: TTTravels;
}

body {
    margin: 0;
    font-family: "TTTravels", sans-serif;
    background-color: #f4f4f5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.hiddenScroll::-webkit-scrollbar {
    display: none;
}
